$background-color                                           : #54DAEF;
$black-color                                                : #2A2C44;
$white-color                                                : #FFFFFF;
$gray-color                                                 : #CCCCCC;
$red-color                                                  : #EF4A50;
$yellow-color                                               : #EDC33E;
$green-color                                                : #7EBA3E;