@import './reset';
@import './typography';
@import './colors';

html {
    width                                         : 100%;
    height                                        : 100%;
    background-color                              : $background-color;
    body {
        width                                     : 100%;
        height                                    : 100%;
        margin                                    : 0;
        padding                                   : 0;
        background-color                          : transparent;
        #root {
            width                                 : 100%;
            height                                : 100%;
            .main-content {
                width                             : 100%;
                height                            : 100%;
                overflow-x                        : hidden;
                overflow-y                        : auto;
            }
        }
    }
}

@import './controllers';
@import './components';

::-webkit-scrollbar {
    background                                    : $white-color;
    height                                        : 8px;
    width                                         : 6px;
}
::-webkit-scrollbar-thumb {
    background                                    : darken($white-color, 30);
}