.entry-wrapper {
	position                                                                : relative;
	display                                                                 : table;
	width                                                                   : 100%;
	height                                                                  : 100%;
	padding                                                                 : 4%;
	margin                                                                  : 0 auto;
	background-image                                                        : url('../assets/images/background.png');
    background-repeat                                                       : no-repeat;
    background-size                                                         : 100%;
    z-index                                                                 : 99999;
    @media only screen and (max-width: 720px) {
        padding                                                             : 4% 40px;
    }
    @media only screen and (max-width: 576px) {
        background-position                                                 : center 54%;
    }
	.entry-container {
		display                                                             : table-cell;
		vertical-align                                                      : middle;
		width                                                               : 100%;
		height                                                              : auto;
		@media only screen and (max-width: 576px) {
			vertical-align                                                  : top;
		}
		.entry-content {
			display                                                         : table;
			width                                                           : 100%;
			height                                                          : auto;
			.title-wrapper {
				display                                                     : table-cell;
				vertical-align                                              : top;
				width                                                       : 50%;
				height                                                      : auto;
				@media only screen and (max-width: 576px) {
					display                                                 : block;
					width                                                   : 100%;
					max-width                                               : 380px;
					margin                                                  : 0 auto 20px auto;
				}
				.title-container {
					position                                                : relative;
					width                                                   : 100%;
					height                                                  : auto;
					.title-image-wrapper {
						width                                               : 100%;
						height                                              : auto;
					}
					.verb-wrapper {
						display                                             : block;
						position                                            : absolute;
						top                                                 : 80%;
						left                                                : 18%;
						right                                               : 18%;
						width                                               : auto;
						height                                              : 64%;
						border-radius                                       : 20px;
						border                                              : 4px solid $gray-color;
						box-shadow                                          : 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
						background-color                                    : $white-color;
						z-index                                             : -1;
						.verb-container {
							display                                         : table;
							width                                           : 100%;
							height                                          : 100%;
							.verb {
								display                                     : table-cell;
								vertical-align                              : middle;
								width                                       : 100%;
								height                                      : auto;
								padding                                     : 0 4%;
								font-size                                   : 4em;
								text-align                                  : center;
								color                                       : $black-color;
								@media only screen and (max-width: 1024px) {
									font-size                               : 3em;
								}
								@media only screen and (max-width: 720px) {
									font-size                               : 2em;
								}
							}
						}
						@media only screen and (max-width: 576px) {
							display                                         : none;
						}
					}
				}
			}
			.wheel-wrapper {
				display                                                     : table-cell;
				vertical-align                                              : top;
				width                                                       : 50%;
				height                                                      : auto;
				@media only screen and (max-width: 576px) {
					display                                                 : block;
					width                                                   : 100%;
				}
				.wheel-container {
					position                                                : relative;
					width                                                   : 100%;
					height                                                  : auto;
					.wheel-image-wrapper {
						position                                            : relative;
						width                                               : 100%;
						height                                              : auto;
						padding                                             : 0 2% 2% 0;
						.wheel-image-container {
							position                                        : relative;
							width                                           : 100%;
							height                                          : auto;
							.wheel_btn-image-wrapper {
								position                                    : absolute;
								top                                         : 39%;
								left                                        : 40%;
								width                                       : 22%;
								height                                      : 22%;
								z-index                                     : 99;
								.wheel_btn-image-container {
									width                                   : 100%;
									height                                  : auto;
								}
							}
						}
						.wheel_shadow-image-container {
							position                                        : absolute;
							top                                             : 0;
							right                                           : 0;
							bottom                                          : 0;
							left                                            : 0;
							z-index                                         : -1;
						}
					}
					.spinning_msg-image-wrapper {
						position                                            : absolute;
						top                                                 : 40%;
						right                                               : 60%;
						width                                               : 80%;
						height                                              : auto;
						z-index                                             : 9;
						@media only screen and (max-width: 576px) {
							top                                             : -10%;
							right                                           : -20px;
						}
					}
					.verb-wrapper {
						display                                             : none;
						position                                            : absolute;
						top                                                 : 94%;
						left                                                : 18%;
						right                                               : 18%;
						width                                               : auto;
						height                                              : 24%;
						margin                                              : 0 0 4% 0;
						border-radius                                       : 20px;
						border                                              : 4px solid $gray-color;
						box-shadow                                          : 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
						background-color                                    : $white-color;
						z-index                                             : 9;
						.verb-container {
							display                                         : table;
							width                                           : 100%;
							height                                          : 100%;
							.verb {
								display                                     : table-cell;
								vertical-align                              : middle;
								width                                       : 100%;
								height                                      : auto;
								padding                                     : 0 4%;
								font-size                                   : 2em;
								text-align                                  : center;
								color                                       : $black-color;
							}
						}
						@media only screen and (max-width: 576px) {
							display                                         : block;
						}
					}
				}
			}
		}
	}
}