.loader-wrapper {
	display                                                                      : table;
	width                                                                        : 100%;
	height                                                                       : 100%;
	.loader-container {
		display                                                                  : table-cell;
		vertical-align                                                           : middle;
		width                                                                    : 100%;
		height                                                                   : auto;
		.loader {
			position                                                             : relative;
			width                                                                : 1em;
			height                                                               : 4em;
			margin                                                               : 88px auto;			
			font-size                                                            : 11px;
			text-indent                                                          : -9999em;
			color                                                                : $white-color;
			background                                                           : $white-color;
			-webkit-animation                                                    : load1 1s infinite ease-in-out;
			animation                                                            : load1 1s infinite ease-in-out;
			-webkit-transform                                                    : translateZ(0);
			-ms-transform                                                        : translateZ(0);
			transform                                                            : translateZ(0);
			-webkit-animation-delay                                              : -0.16s;
			animation-delay                                                      : -0.16s;
			&:before, &:after {
				position                                                         : absolute;
				top                                                              : 0;
				content                                                          : '';
				width                                                            : 1em;
				height                                                           : 4em;
				background                                                       : $white-color;
				-webkit-animation                                                : load1 1s infinite ease-in-out;
				animation                                                        : load1 1s infinite ease-in-out;
			}
			&:before {
				left                                                             : -1.5em;
				-webkit-animation-delay                                          : -0.32s;
				animation-delay                                                  : -0.32s;
			}
			&:after {
				left                                                             : 1.5em;
			}
		}
	}
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow                                                               : 0 0;
		height                                                                   : 4em;
	}
	40% {
		box-shadow                                                               : 0 -2em;
		height                                                                   : 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow                                                               : 0 0;
		height                                                                   : 4em;
	}
	40% {
		box-shadow                                                               : 0 -2em;
		height                                                                   : 5em;
	}
}